<section class="sections" *ngIf="loggedIn">

    <h4 class="sectionHeaders mt-2">Communities</h4>

    <div class="communities">

        <div class="grid">

            <div class="grid-item">
                <div class="card">

                    <div class="pic-section">
                        <div class="image-holder">
                            P
                        </div>
                    </div>

                    <div class="name-section">
                        <p class="name">Marketing Project</p>
                        <p class="title">Sales and marketing team</p>
                    </div>

                    <div class="test">



                        <div class="members-section">
                            <div class="member"
                                style="background-image: url('https://randomuser.me/api/portraits/men/32.jpg');">
                                j
                            </div>
                            <div class="member"
                                style="background-image: url('https://randomuser.me/api/portraits/men/22.jpg');">
                                j
                            </div>
                            <div class="member"
                                style="background-image: url('https://randomuser.me/api/portraits/men/35.jpg');">
                                j
                            </div>
                            <div class="member"
                                style="background-image: url('https://randomuser.me/api/portraits/men/30.jpg');">
                                j
                            </div>
                            <div class="member more">
                                +1
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="grid-item">
                <div class="card">

                    <div class="pic-section">
                        <div class="image-holder">
                            G
                        </div>
                    </div>

                    <div class="name-section">
                        <p class="name">Gull House Squad</p>
                        <p class="title">Sales and marketing team</p>
                    </div>

                    <div class="test">



                        <div class="members-section">
                            <div class="member"
                                style="background-image: url('https://randomuser.me/api/portraits/men/32.jpg');">
                                j
                            </div>
                            <div class="member"
                                style="background-image: url('https://randomuser.me/api/portraits/men/22.jpg');">
                                j
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</section>

<section *ngIf="!loggedIn">

    <p>Log in to ssee them</p>

</section>